body{
    background-color: #545454;

}

.game-container{
    /* display: flex; */
    flex-direction: column;
    min-height: 100vh;
    display: none;
}

.scores{
    flex: 1;
    order: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.score-title{
    display: inline;
    color: white;
}
.score-value{
    display: inline;
}

.game{
    flex: 10;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startButton{
    display: none;
}

.input{
    padding-bottom: 20px;
    max-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex: 1;
    order: 3;
}

.home-button{
    flex: 1;
    max-width: 84px;
}

.player-input{
    flex: 2;
    max-width: 500px; 
}

.level{
    flex: 1;
    max-width: 148px;
} 

input[type=text] {
    border: none;
    /* outline: 0; */
    background: transparent;
    border-bottom: 1px solid white;
    text-align: center;
    color: white;
    font-size: 50px; 
    caret-color: white;

}

input[type=text]:focus {
    outline: none;
}

.word{
    position: absolute;
    color: black;
    animation-name: changeColor;
    animation-duration: 70s;
    font-size: 20px;
    /* padding-top: 5px; */
}

.win{
    flex: 1;
    height: 100px;
    position: absolute;
    text-align: center;
    display: none;
  
}

.landing-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #545454;
}

.landing-screen h1{
    color: #1FB0E7;
}

.landing-screen .begin-button{
    color: black;
    background-color: yellow;
}

.level-screen{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.level-wrapper{
    border: 2px solid yellow;
    padding: 5px 10px;
}

.play-level-two{
    display: none;
}
.play-level-three{
    display: none;
}


@keyframes changeColor{
    0% {
        color: #15de00;
    }
    25%{
        color: #8dba00;
    }
    50%{
        color: #bc9100;
    }
    75%{
        color: #d75e00;
    }
    100%{
        color: #df0000;
    }
}

.textBox {
    width: 100%;
}

img {
    height: 50px;
}






